.OverViewCardBox {
  :global(.ant-checkbox-group){
    width: 100%;
  }
  :global(.ant-row){
    width: 100%;
  };
  :global(.ant-checkbox){
    position: absolute;
    left: calc(100% - 19px);
    top: 3px;
  }
}
