.boxaaa {
  border: 1px solid #666;
  width: 100%;
  p::first-line {
    //text-align: center;
    text-align-last:center;
  }
  p {
    word-break:break-all;
  }
}
.box22355 {
  text-align: center;
  border: 1px solid #666;
  .content {
    text-align: left;
    display: inline-block;
  }
}
